:root {
  --primary: #1bd760;
  --swiper-pagination-color: #1bd760;
  --swiper-pagination-bullet-inactive-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: white;
  background: #000;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
